body {
    font-family: Arial;
    background-color: #d3d3d3;
}

h1 {
    color: black;
    text-align: center;
}

h3 {
    color: rgb(205, 25, 25);
    text-align: center;
}

label {
    color: black;
    text-align: center;
}

.dashboardButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    width: 2em;
    margin-left: 3em;
    margin-top: 1em;
    cursor: pointer;
}

.button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #008CBA;
    padding: 25px;
    margin: 20px;
    width: 200px;
    height: 100px;
    font-weight: bold;
    align-items: center;
}

#logInButton{
    text-align: center;
}

#logOutButton {
    position: absolute;
    top: 0;
    right: 0;
}

#submitButton{
    text-align: center;
}

.resourceDescriptionInputBox {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    align-items: center;
}

.resourceContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resource {
    flex-basis: calc(95% / 3);
}

.scrollable {
    width: auto;
    height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

#publishButton{
    text-align: center;
}

#uploadImageButton{
    text-align: center;
}

#uploadListingButton{
    text-align: right;
}

.reportDescriptionInputBox {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    align-items: center;
    
}

#submitReportButton{
    text-align: right;
}

.additionalDetailsInputBox {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    align-items: center;
}

#submitRequestButton{
    text-align: center;
}

.additionalDetailsInputBox {
    width: 302px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    align-items: center;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    width: 200px;
    align-items: center;
}

.buttonblue {
    background-color: #008CBA;
}

.table-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px;
}

.detailsToEnter {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.addListingDescriptionInputBox{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px; 
    align-items: center;
}
.announcementDescriptionInputBox {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px; 
    align-items: center;
}

.announcementButton-container {
    align-self: flex-end;
}

.polaroid{
    width: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: auto;
}

.resourceInformation {
    padding: auto;
    margin: auto;
    text-align: center;
    font-family: Arial;
    align-items: center;
    font-size: 25px;
}

.resourceDetails {
    font-weight: normal;
    text-align: center;
    letter-spacing: 1px;
    line-height: 5px;
}

.roundsquare {
    border-radius: 25px;
    background: #e00d0d;
    background-size: 0px;
    width: auto;
    height: auto;
}

.example {
    margin: 1em 0;
    text-align: center;
}
  
.example img {
    width: 30vw;
    height: 30vw;
}
  
.example-cover img {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}
  
.example-contain img {
    object-fit: contain;
}

.viewListingDetailsEP{
    text-align: center;
    align-items: center;
    border-radius: 25px;
    background: #ffffff;
    background-size: 0px;
    width: 900px;
    height: auto;
}

.uploadedBy{
    align-items: center;
    text-align: center;
}

.dateUploaded{
    text-align: left;
}

.descriptionBox{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    align-items: center;
}

#uploadImageButton{
    align-items: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-containerLD {
    margin: auto;
}

.detailsContainerVP {
    text-align: left;
    width: 60%; /* Set a specific width for the details container */
    padding: 20px;
    flex: 1;
    margin-left: auto;
}

.detailsContainerLD {
    text-align: left;
    width: 60%; /* Set a specific width for the details container */
    padding: 20px;
    flex: 1;
    margin-left: auto;
}

.detailsContainerML {
    text-align: left;
    width: 60%; /* Set a specific width for the details container */
    padding: 20px;
    flex: 1;
    margin-left: auto;
}

.p2VP {
    text-align: left;
}

.p2LD {
    text-align: left;
}

.p2LR {
    text-align: left;
}

.p2ML {
    text-align: left;
}

.table-image2 {
    object-fit: cover;
    width: 200px; 
    height: 200px; 
    border-radius: 10px;
    margin-right: 40px;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    width: fit-content; 
    text-align: center;
}

.announcementTextBox {
    width: 200px; 
    height: 30px; 
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    padding: 5px;
    margin-left: 10px; 
}

.announcementContainer {
    width: 800px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 40px;
    margin: auto;
}

.announcementTitle {
    margin: 0;
    margin-right: 50px; /* Adjusted right margin for spacing */
}

.announcementDate {
    margin-left: 600px; /* Adjusted left margin for spacing */
}

.announcementStatus{
    margin-left:-100px
}

.myRequestTextBox {
    width: 200px; 
    height: 30px; 
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    padding: 5px;
    margin-left: 10px; 
}

.myRequestContainer {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Adjusted to create space between the elements */
    margin-top: 10px;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    margin: auto;
}

.myRequestTitle {
    padding-left: 1em;
}

.myRequestDate {
    padding-left: 10em;
}

.myRequestStatus{
    padding-left: 8em;
    padding-right: 0px;
    text-align: right;
}

#ownedBy {
    margin-left: auto;
}

.nonEditableTextBox {

}

.viewListingDetailsML {
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto; /* Adjusted height to fit perfectly */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.detailsContainerEP {
    text-align: left;
    width: auto; /* Set a specific width for the details container */
    height: auto;
}

.table-image2 {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px; /* Adjusted margin to create space between image and buttons */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button2 {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #008CBA;
    padding: 25px;
    margin: 5px;
    width: 200px;
    height: 75px;
    font-weight: bold;
    align-items: center;
}

.button2LR {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #008CBA;
    padding: 25px;
    margin: 5px;
    width: 200px;
    height: 75px;
    font-weight: bold;
    align-items: center;
}

.center-container2 {
    width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}


.announcementContainer2 {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.announcementTitle {
    margin: 0;
}

.announcementDescription {
    width: 700px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
}


.incidentReports {
    max-width: 600px;
    margin: auto;
}

.makeAnnouncements {
    max-width: 600px;
    margin: auto;
}

.announcements-container {
    max-width: 600px;
    margin: auto;
}

.button3{
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #008CBA;
    padding: 25px;
    margin: 20px auto;
    width: 200px;
    height: 100px;
    font-weight: bold;
}

.incidentReportContainer {
    width: 700px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 40px;
    margin: auto;
}

.makeAnnouncementContainer {
    width: 700px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 40px;
    margin: auto;
}

.report {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.announcement {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.center-container3 {
    max-width: 600px;
    height: 250px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.detailsContainerLR{
    text-align: left;
    width: 200px;
    height: auto;
    padding: 20px;
}

.table-image3 {
    object-fit: cover;
    width: 250px; 
    height: 250px; 
    border-radius: 10px;
    align-items: right;
    margin-left: 50px;
}

.table-imageEP {
    width: 250px; 
    height: 250px; 
    border-radius: 10px;
    align-items: right;
    margin: auto;
    margin-bottom: 90px;
}

.button4 {
    border: none;
    align-items: right;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #008CBA;
    padding: 25px;
    margin: 20px;
    width: 200px;
    height: 75px;
    font-weight: bold;
    margin-right: auto;
}

#editProfileButton{
    text-align: right;
    margin-top: 190px;
    margin-bottom: 20px;
    margin-right: 110px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
}

#makeNewReportButton{
    text-align: right;
    margin-top: 150px;
    margin-right: 90px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
}

#makeAnnouncementButton{
    text-align: right;
    margin-top: 150px;
    margin-right: 90px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: inline-block;
    width: 120px; /* Adjust as needed */
    text-align: right;
    margin-right: 10px;
}

.center-container4 {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    height: auto;
    display: flex;
    align-items: flex-start; /* Align items at the top of the container */
}

#saveProfileButton{
    text-align: center;
    margin-bottom: 20px;
}

#approveButton{
    background: #13ff27;
}

#rejectButton{
    background: #ff0000;
}

.center-container5{
    width: 900px;
    margin: auto;
    height: auto;
    padding: 10px;
    text-align: center;
}

.center-container6{
    width: 800px;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center; /* horizontally center the content */
}

.viewListingDetails2{
    text-align: center;
    align-items: center;
    border-radius: 25px;
    background: #ffffff;
    background-size: 0px;
    width: 500px;
    height: 500px;
}

.viewListingDetailsLR{
    text-align: center;
    align-items: center;
    border-radius: 25px;
    background: #ffffff;
    background-size: 0px;
    width: 700px;
    height: auto;
    display: flex;
    align-items: flex-start; /* align items at the top */
}

.table-image4{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px;
}

.viewListingDetailsLD {
    text-align: left;
    display: flex;
    width: 600px; /* Adjusted width to fit elements */
    height: auto;
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table-image6 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
}

.button-container2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#approveButton2 {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block; /* Convert buttons to block elements */
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #1fff0f;
    padding: 15px 30px; /* Adjusted padding */
    margin: 10px 0; /* Added margin for spacing */
    width: 150px; /* Adjusted width for better alignment */
    font-weight: bold;
}

#rejectButton2 {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block; /* Convert buttons to block elements */
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: #ff0e0e;
    padding: 15px 30px; /* Adjusted padding */
    margin: 10px 0; /* Added margin for spacing */
    width: 150px; /* Adjusted width for better alignment */
    font-weight: bold;
}

#registerButton {
    text-align: center;
}

#blocknum {
    width: 10px;
}

#floornum {
    width: 15px;
}

#icnumber {
    width: 45px;
}

#iclocation {
    width: 15px;
}

#iclast4 {
    width: 30px;
}