<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Listings</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">Add Listing</h1>
    <button class="backButton" onclick="location.href = '/resource_listings'"><</button>

    <form method="POST" action="add_listing" enctype="multipart/form-data">
        {% csrf_token %}
            <table align="center">
            <tr><td align="right">
                <label>Resource Name: </label>
            <td align="left">
                <input type="text" class="rcorners" name="resourcename" required/><br>
            <tr><td align="right">
                <label>Resource Type: </label>
            <td align="left">
                <select type="text" name="resourcetype" class="rcorners" required>
                    <option value="Place">Place</option>
                    <option value="Item">Item</option>
                </select><br>
            <tr><td align="right" >
                <label>Description: </label>             
            <td align="left">
                <textarea class="rcorners" name="resourcedesc" required/></textarea><br>
            <tr><td align="right">
                <label>Resource Image:</label>
            <td align="left"><input type="file" id="image" name="resourceimage" required>
        </table>

        <div id="submitButton">
            <button class="button" type="submit">Add listing</input>
        </div>
    </form>
</body>
</html>