<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply To Lease</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">Apply To Lease</h1>
    <button class="backButton" onclick="location.href = '{% url 'listing_details' listing.pk %}'"><</button>

    <form method="POST" action="apply">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td align="right">
                    <label>Leasing Dates: </label>
                </td>
                <td align="left">
                    <input type="date" class="rcorners" name="leasingstart" required>
                </td>
                <td align="right">
                    <label>To </label>
                </td>
                <td align="left">
                    <input type="date" class="rcorners" name="leasingend" required><br>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label>Additional Details: </label>
                </td>
                <td align="left" colspan="3">
                    <input type="text" class="additionalDetailsInputBox" name="leasingdetails" required><br>
                </td>
            </tr>
        </table>

        <div id="submitButton">
            <button class="button" type="submit">Submit Request</input>
        </div>
    </form>
</body>
</html>