<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{loggedin}} Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">{{loggedin}} Dashboard</h1>
    <button class="button" id="logOutButton" onclick="location.href = '/logout'">Logout</button>
    <div class="dashboardButtons">
        {% if user.is_superuser %}
        <button class="button" id="userRegButton" onclick="location.href = '/user_registration'">
            User Registration
        </button>
        {% else %}
        <button class="button" id="viewProfileButton" onclick="location.href= '{% url 'view_profile' user.pk %}'">
            View Profile
        </button>
        {% endif %}
        <button class="button" id="resourceListingButton" onclick="location.href = '/resource_listings'">
            Resource Listings
        </button>
    </div>
    <div class="dashboardButtons">
        <button class="button" id="announcementsButton" onclick="location.href = '/announcements'">
            Announcements
        </button>
        {% if user.is_superuser %}
        <button class="button" id="databaseButton" onclick="location.href = '/admin'">
            Database
        </button>
        {% else %}
        <button class="button" id="reportsButton" onclick="location.href = '/incident_reports'">
            Incident Reports
        </button>
        {% endif %}
    </div>
</body>
</html>