<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listings</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">Edit Listings</h1>

    <button class="backButton" onclick="location.href = '/my_listings'"><</button>
    <br>
    <br>
<div>
    <form method="POST" action="/my_listings/{{listing.pk}}/edit" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center">
        <tr><td align="right">
            <label>Resource Name: </label>
        <td align="left">
            <input type="text" class="rcorners" value="{{listing.resourceName}}" name="resourcename" required/><br>
        <tr><td align="right">
            <label>Resource Type: </label>
        <td align="left">
            <select type="text" value="{{listing.resourceType}}" name="resourcetype" class="rcorners" required>
                <option value="Place">Place</option>
                <option value="Item">Item</option>
            </select><br>
        <tr><td align="right" >
            <label>Description: </label>             
        <td align="left">
            <textarea class="rcorners" name="resourcedesc"/>{{listing.resourceDesc}}</textarea><br>
        <tr><td align="right">
            <label>Resource Image:</label>
        <td align="left"><input type="file" id="image" name="resourceimage">
        </table>

        <div id="submitButton">
            <button class="button" type="submit">Update listing</input>
        </div>
    </form>
</div>
    
</body>
</html>