<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Reports</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Incident Reports</h1>
    <button class="backButton" onclick="location.href = '/dashboard'"><</button>

    <div class="center-container">
        <div id="makeNewReportButton">
            <button class="button3" onclick="location.href = '/make_report'">Make New Report</button>
        </div>
    
        <div class="incidentReports">
            {% for report in reports %}
            <div class="incidentReportContainer" onclick="location.href = '{% url 'report_details' report.pk %}'">
                <div class="report">
                    <p>{{report.reportTitle}}</p>
                    <p>{{report.reportDate}}</p>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>    
</body>
</html>