<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    
    <form id="loginForm" action="login" method="POST">
        {% csrf_token %}
        <div class="detailsToEnter">
            <h1 class="p2">LOG IN</h1>
            <label>Username:</label>
            <input class="rcorners" type="text" id="username" name="username" required/>
            <br><br>
            <label>Password:</label>
            <input class="rcorners" type="password" id="password" name="password" required/>
            <br><br>
            <button class="button" type="submit">LOGIN</button>
        </div>
    </form>
</body>

</html>