<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Listings</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">My Listings</h1>
    <button class="backButton" onclick="location.href = '/resource_listings'"><</button>
    <br>
    <br>
    {% for listing in listings %}
    <div class="center-container2">
        <div class="viewListingDetailsML">
            <img src="/media/{{listing.resourceImage}}" class="table-image2">

            <div class="detailsContainerML">
                <h1 class="p2ML">{{listing.resourceName}}</h1>
                <p class="dateUploaded">Date Uploaded: {{listing.uploadDate}}</p>
                <p>Description:<br>{{listing.resourceDesc}}</p>
            </div>          

            <div class="button-container">
                <button class="button2" onclick="location.href= '{% url 'edit_listing' listing.pk %}'">Edit Listing</button>
                <form action="{% url 'remove_listing' listing.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="button2">Remove Listing</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>
