<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Requests</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">My Requests</h1>
    <button class="backButton" onclick="location.href = '/resource_listings'"><</button>

    {% comment %} {% for request in requests %}
    <div class="myRequestContainer">
        <p class="myRequestTitle"><b>{{request.resourceLeased.resourceName}}</b></p><p id="ownedBy">Owned by: {{request.resourceLeased.uploadedBy}}</p>
        <p class="myRequestDate">Date: {{request.requestDate}}</p>
        <p class="myRequestStatus">Status: 
            {% if request.requestStatus %}
                Approved
            {% elif request.requestStatus is None %}
                Unapproved
            {% else %}
                Rejected
            {% endif %}
        </p>
    </div>
    <br>
    {% endfor %} {% endcomment %}

    <table class="myRequestContainer">
        {% for request in requests %}
        <tr>
            <td class="myRequestTitle">
                <b>{{request.resourceLeased.resourceName}}</b><br>
                Owned by: {{request.resourceLeased.uploadedBy}}
            </td>
            <td class="myRequestDate">
                {{request.startDate}} to {{request.endDate}}
            </td>
            <td class="myRequestStatus">
                Request made {{request.requestDate}}<br>
                Status:
                {% if request.requestStatus %}
                Approved
                {% elif request.requestStatus is None %}
                    Unapproved
                {% else %}
                    Rejected
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>