<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">Report Details</h1>
    <button class="backButton" onclick="location.href = '/incident_reports'"><</button>

    <div class="announcementContainer2">
        <p class="announcementTitle"><b>{{report.reportTitle}}</b></p>
        <p>Report Date: {{report.reportDate}}</p>
    </div>
    <br>
    <p class="announcementDescription">
        Incident Date: {{report.incidentDate}}<br>
        Affected Resource: {{report.affectedResource.resourceName}} by {{report.affectedResource.uploadedBy}}<br><br>
        {{report.reportDesc}}
    </p>
</body>
</html>
