<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1 class="p2">User Registration</h1>
    <button class="backButton" onclick="location.href = '/dashboard'"><</button>

    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}

    <form method="POST" action="user_registration">
        {% csrf_token %}
        <table align="center">
        <tr><td align="right">
            <label>Username:</label>
        <td align="left">
            <input type="text" class="rcorners" name="username" required/><br>
        <tr><td align="right">
            <label>User Type: </label>               
        <td align="left">
            <select type="text" name="usertype" class="rcorners" required>
                <option value="tenant">Tenant</option>
                <option value="owner">Owner</option>
            </select><br>
        <tr><td align="right" >
            <label>First Name: </label>             
        <td align="left">
            <input type="text" class="rcorners" name="firstname" required/><br>
        <tr><td align="right">
            <label>Last Name: </label>             
        <td align="left">
            <input type="text" class = "rcorners" name="lastname" required/><br>
        <tr><td align="right">
            <label>Email: </label>              
        <td align="left">
            <input type="email" class = "rcorners" name="email" required/><br>
        <tr><td align="right">
            <label>Unit Number: </label>              
        <td align="left">
            <input type="text" name="block" id="blocknum" class="rcorners" maxlength="1" required/> -
            <input type="text" name="floor" id="floornum" class="rcorners" maxlength="2" required/> -
            <input type="text" name="unit" id="floornum" class="rcorners" maxlength="2" required/><br>
        <tr><td align="right">
            <label>Password: </label>            
        <td align="left">
            <input type="password" class="rcorners" name="password" required/><br></td>
        </table>

        <div id="registerButton">
            <button class="button" type="submit">Register</input>
        </div>
    </form>

</body>
</html>