<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="p2">View Profile</h1>
    <button class="backButton" onclick="location.href = '/dashboard'"><</button>
    <div id="editProfileButton">
        <button class="button" onclick="location.href= '{% url 'edit_profile' user.pk %}'">Edit Profile</button>
    </div>
        
    <div class="center-container3">
            <div class="detailsContainerVP">
                <h1 class="p2VP">{{user.firstname}} {{user.lastname}}</h1>
                <p>Unit Number: {{user.tenant.unitNumber}}</p>
                <p>Username: {{user.username}}</p>
                <p>Gender: {{user.gender}}</p>
                <p>Birth Date: {{user.birthDate}}</p>
                <p>I/C No.: {{user.icNumber}}</p>
                <p>Email: {{user.email}}</p>
            </div>

            <img src="/media/{{user.profilePic}}" class="table-image3" alt="Profile Image">
        
    </div>

</body>
</html>
